body {
    overflow: hidden;
    background-color: #EEEEEE;
}

md-whiteframe {
    background: #fff;
}

#content {
    padding: 5px;
    overflow: auto;
}

.error {
    color: red
}

.registro {
    background: white;
    margin-bottom: 20px;
}

.registro-back {
    background: #aaaaaa;
}

.gracias{
    color: green;
}

h4 {
    margin: 0;
}

li {
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0;
}