<md-dialog flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>Encuestas Completadas</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <md-card ng-repeat="pie in vm.data" layout="column" flex>
            <md-card-header>{{ pie.descripcion }}</md-card-header>
            <md-card-content>
                <nvd3 options="vm.options" data="pie.data"></nvd3>
            </md-card-content>
        </md-card>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="vm.close()">
            <md-icon>close</md-icon>
            Cerrar
        </md-button>
    </md-dialog-actions>
</md-dialog>