<md-content layout-padding flex class="registro-back">
    <div layout layout-align="center">
        <div flex="100" flex-gt-sm="80" flex-gt-md="60" class="md-whiteframe-z2 registro" layout-padding
             ng-show="!vm.encuesta_activa">
            <form ng-submit="vm.encuestar()">
                <div layout="row" layout-align="center">
                    <md-input-container flex="30" class="md-primary">
                        <label>Código de Estudiante</label>
                        <input type="text" ng-model="vm.codigo"/>
                        <div class="error">
                            {{ vm.msg_error }}
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center">
                    <button type="submit" md-button class="md-primary md-raised" flex="30">
                        Encuestar
                    </button>
                </div>
            </form>
        </div>
        <div flex="100" flex-gt-sm="80" flex-gt-md="60" ng-show="vm.encuesta_activa" layout="column">
            <div class="md-whiteframe-z2 registro" layout-padding>
                <h4>Código de estudiante: {{ vm.persona.codigo }}</h4>
            </div>
            <div class="md-whiteframe-z2 registro" layout-padding ng-repeat="encuesta in vm.encuesta_activa">
                <h4>{{ encuesta.descripcion }}</h4>
                <div>
                    <ol>
                        <li ng-repeat="pregunta in encuesta.preguntas">
                            <b>{{ pregunta.enunciado }}</b>
                            <br/>
                            <biblio-registro-pregunta pregunta="pregunta.url"
                                                      persona="vm.persona"
                                                      periodo="vm.periodo_activo.url">
                            </biblio-registro-pregunta>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</md-content>